.container {
  box-shadow: 0px 4px 4px 2px rgba(53, 50, 50, 0.25);
  border-radius: 33px;
  font-size: 1.4rem;
  align-items: center;
  place-items: center;
  margin: auto;
  margin-bottom: 1rem;
  padding: 10px;
  width: 80vw;
  min-height: 78vh;
  overflow: visible;
}
.title {
  font-size: calc(6px + 3vmin);
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;

  color: var(--white);
  background-color: var(--columba);
  transition: 0.3s ease-in;
}

button:hover {
  background-color: var(--white);
  color: var(--columba);
  cursor: pointer;
}

/* add media queries for responsive button placement*/
.backButton {
  padding: 7px 15px;
  border-radius: 25px;
  position: absolute;
  /* left: 15%; */
  /* left: 6rem;
  top: 5rem; */
}
.nextButton {
  padding: 7px 15px;
  border-radius: 25px;
  position: absolute;
  /* right: 10rem;
  top: 38rem; */
}

.downloadButton {
  margin-top: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.downloadButton:active {
  cursor: wait;
}
.buttonBox {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
/* .backButtonContainer {
  position: absolute;
}
.nextButtonContainer {
  position: absolute;
} */

.progressPercentage {
  position: relative;
  margin: 0px;
  font-size: calc(2px + 2vmin);
  opacity: 50%;
  user-select: none;
}
.progressPercentage:hover {
  opacity: 100%;
}
.progressBar {
  margin: auto;
  position: relative;
  border-radius: 3px;
  background-color: rgba(255, 174, 181, 0.678);
  /* cursor: grab; */
  padding: 2px;
  max-width: 72vw;
  user-select: none;
}

.progress {
  user-select: none;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 10px solid var(--columba);
  max-width: 76vw;
  user-select: none;
}

.selectionLabel {
  font-size: calc(8px + 2vmin);
  margin: 0;
}
label {
  font-size: calc(4px + 2vmin);
  font-weight: bold;
  cursor: pointer;
}

.selectionText {
  margin: 0.5rem;
  color: var(--columba);
  text-decoration: underline;
  font-weight: bold;
  user-select: none;
}

.selectionBox {
  margin-top: 2.3rem;

  line-height: 2rem;
  text-align: center;
}

.briefBox {
  margin-top: 2.3rem;
  margin-left: 25%;
  text-align: left;
}

@media only screen and (max-width: 668px) {
  .backButton {
    left: 2rem;
    top: 4rem;
  }
  .nextButton {
    right: 4rem;
    top: 39rem;
  }
}

@media only screen and (min-width: 669px) {
  .backButton {
    left: 5rem;
    top: 5rem;
  }
  .nextButton {
    right: 6rem;
    top: 39rem;
  }
}
@media only screen and (min-width: 830px) {
  .backButton {
    left: 5rem;
    top: 5rem;
  }
  .nextButton {
    right: 7rem;
    top: 40rem;
  }
}

@media only screen and (min-width: 1000px) {
  .backButton {
    left: 7rem;
    top: 5rem;
  }
  .nextButton {
    right: 10rem;
    top: 40rem;
  }
}
