.container {
  box-shadow: 0px 4px 4px 2px rgba(53, 50, 50, 0.25);
  border-radius: 33px;
  font-size: 1.4rem;
  /* padding: 0.1rem; */
  align-items: center;
  place-items: center;
  margin: auto;
  width: 80vw;
  min-height: 80vh;
  overflow: visible;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 25px;
  color: var(--white);
  background-color: var(--columba);
  transition: 0.3s ease-in;
}

button:hover {
  background-color: var(--white);
  color: var(--columba);
  cursor: pointer;
}

/* add media queries for responsive button placement*/
.backButton {
  position: absolute;
  /* left: 15%; */
  left: 5rem;
  top: 39rem;
}
.nextButton {
  position: absolute;
  right: 5rem;
  top: 39rem;
}

.downloadButton {
  margin: auto;
  margin-top: 3rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.downloadButton:active {
  cursor: wait;
}

/*relative position later on*/
/* .backButtonContainer {
  position: relative;
}
.nextButtonContainer {
  position: relative;
} */

.progressPercentage {
  position: relative;
  margin: 0px;
  font-size: calc(2px + 2vmin);
  opacity: 50%;
  cursor: grab;
}
.progressPercentage:hover {
  opacity: 100%;
}
.progressBar {
  margin: auto;
  position: relative;
  border-radius: 3px;
  background-color: rgba(255, 174, 181, 0.678);
  cursor: grab;
  padding: 2px;
  max-width: 72vw;
}

.progress {
  user-select: none;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 10px solid var(--columba);
  max-width: 76vw;
}

.selectionLabel {
  font-size: calc(8px + 2vmin);
  margin: 0;
}
label {
  font-size: calc(4px + 2vmin);
  font-weight: bold;
}

.selectionText {
  margin: 0.5rem;
  color: var(--columba);
  text-decoration: underline;
  font-weight: bold;
}

.selectionBox {
  margin-top: 2.3rem;

  line-height: 2rem;
  text-align: center;
}

.briefBox {
  margin-top: 2.3rem;
  margin-left: 25%;
  text-align: left;
}
