nav {
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #23243c;
  color: white;
  padding: 12px;
  margin: auto;
  cursor: pointer;
}

body {
  text-align: center;
  font-size: calc(8px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
