h2 {
  user-select: none;
  cursor: pointer;
}

nav {
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #23243c;
  color: white;
  padding: 12px;
  margin: auto;
  cursor: pointer;
  user-select: none;
}

body {
  text-align: center;
  font-size: calc(8px + 2vmin);
}
